@{
    ViewBag.Title = "CargarArchivo";
}

@using (Html.BeginForm("CargarArchivo", "Asignatura", FormMethod.Post, new {enctype = "multipart/form-data"}))
   {
   <fieldset>
       
       <legend>Cargar Informacion</legend>

            <input name="archivo" type="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required/>
            <input type="submit" value="Abrir"/>
<div>
    @Html.ActionLink("Ir a inicio", "ConsultarAsignaturas")
</div>  

    </fieldset>
   }  