@{
    ViewBag.Title = "CargarInformacion";
}

<div>
   <h2>CargarInformacion</h2>
    
    @using (Html.BeginForm("CargarInformacion", "Asignatura", FormMethod.Post,
        new {enctype = "multipart/form-data"}))
    {
        <input name="archivo" type="file" />
        <input type="submit" value="Cargar Archivo" />
    }

</div>