<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="GestionProgramasEntities" connectionString="metadata=res://*/Datos.Modelo.GestionProgramasModel.csdl|res://*/Datos.Modelo.GestionProgramasModel.ssdl|res://*/Datos.Modelo.GestionProgramasModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=localhost:1521/XE;password=admin;persist security info=True;user id=GPA&quot;" providerName="System.Data.EntityClient" />


    </connectionStrings>
</configuration>
